/* CommunityCreationForm.css */

.community-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.community-form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.community-form-group {
    margin-bottom: 20px;
}

.community-form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.community-form-input,
.community-form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.community-form-submit {
    background-color:#4db52a;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    font-size: 16px;
}

.community-form-submit:hover {
    background-color: #ffffff;
}