.create-post-container {
    max-width: 600px;
    margin: 0; /* Updated to align to the left */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.create-post-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button {
    background-color: #45a049;
    margin-right: 10px;
}

.cancel-button {
    background-color: #45a049;
}

.cancel-button:hover,
.submit-button:hover {
    background-color: #357634;
}
