.dashboard {
  display: flex;
  
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px auto 0;
  padding: 20px;
  background-color: rgb(25, 39, 25);
  border-radius: 15px;
}

.top-right-corner {
  margin-left: auto;
}

.side-content {
  position: relative;
  width: 300px;
  color: #ffffff;

  padding-left: 50px;
  box-sizing: border-box;
  margin-bottom: auto;
  
}


.top-right-corner{
  margin-left: auto;
  }
  
  .top-left-corner{
    margin-top: 20px;
    margin-right: auto;
  }
  
  .top-right-content {
    display: flex;
    align-items: center;
  }
  
.profile-icon {
  font-size: 30px;
  margin-right: 20px;
}

.expert-profile-topbar {
  display: flex;
  flex-direction: column;
  margin-left: 50px;

}

.notification-container {
  margin-top: 10px;
  margin-right: 20px;
  color: green;
}

.notification-bell {
  font-size: 24px;
  color: #4db52a;
}

.sidebar {
  position: absolute;
  width: 305px;
  color: #ffffff;
  padding-top: 70px;
  padding-left: 50px;
  box-sizing: border-box;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-top: 35px;
  font-size: 22px;
}

.sidebar-item:hover {
  background-color: #4db52a;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
}

.sidebar-icon {
  margin-right: 10px;
}

.main-content {
  margin-left: 150px;
  flex: 1;
  margin-top: 20px;
  
}

.options-button {
  background-color: rgb(25, 39, 25);
  border-color: #4db52a;
  color: #ffffff;
  height: 20px;
}

.options-button:hover {
  background-color: #89d799;
  border-color: #eef3ef;
}

.show-more-button {
  background-color: #228235;
  border-color: #52cb6a;
  margin-top: 20px;
}

.show-more-button:hover {
  background-color: #23bf42;
  border-color: #eef3ef;
}

.notification-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 5px;
}

.banner {
  margin-bottom: 20px;
  margin-top: 20px;
  background-image: url('../images/dashboardbanner.jpg');
  padding: 30px;
  width: 650px;
  height: 200px;
}

.new-post-button {
  background-color: rgb(25, 39, 25);
  color: white;
  border-color: #4db52a;
  
}

.new-post-button:hover {
  background-color: #4db52a;
  border-color: #ffffff;
}

.content-sections {
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-articles {
  width: 60%;
  height: 80%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.toparticles-h3 {
  color: #4db52a;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.article-card {
  background-color: #fefefe;
  width:250px;
  padding: 1rem;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: default;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.article-card:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

.show-more-button {
  margin-top: 20px;
}

.expert-info {
  flex: 1;
  margin-left: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.followers,
.following,
.communities {
  background-color: #4db52a;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.followers:hover,
.following:hover,
.communities:hover {
  transform: scale(1.05);
  background-color: rgb(159, 209, 150);
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
}

.expert-details {
  margin-top: -200px;
  margin-bottom: 20px;
  text-align: center;
}

.follower-icon {
  font-size: 50px;
}

.following-icon {
  font-size: 50px;
}

.communities-icon {
  font-size: 50px;
}

.meta-info {
  display: flex;
  align-items: center;
  color: rgb(25, 39, 25);
}

.meta-info span {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.meta-info span svg {
  margin-right: 5px;
}

.article-card img {
  width: 200px;
  height: 200px;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .top-right-corner {
    margin-left: 0;
    margin-top: 20px;
  }

  .top-left-corner {
    margin-top: 20px;
    margin-right: 0;
  }

  .sidebar {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 20px 10px;
    margin-right: 0;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .content-sections {
    flex-direction: column;
    align-items: center;
  }

  .top-articles {
    width: 100%;
  }

  .expert-info {
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}